[Desktop Entry]
Encoding=UTF-8
Name=SourPuss
Comment=SourPuss P2P Cryptocurrency
Comment[ru]=SourPuss, P2P криптовалюта
Comment[fr]=SourPuss, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SourPuss, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/SourPuss-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/SourPuss80.xpm
MimeType=x-scheme-handler/SourPuss;
Categories=Office;
